body {margin:1000;}

.icon-bar {
  width: 100%;
  background-color: #712ad4;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s ease;
  color: lightyellow;
  font-size: 20px;
  text-decoration: none;
}

.icon-bar a:hover {
  background-color: #9b69e1;
}

.active {
  background-color: #712ad4;
} 